body {

	background-color: rgb(118,126,159);
	color: rgb(80,80,80);
	font-family: courier;
	margin: 0px;
	padding: 0px;
}
h1{
	color: rgb(0,0,0);
	font-family: Times;
	line-height: 1;
	font-weight: lighter;

}
h2{
	color: rgb(0,0,0);
	font-family: times;
	font-weight: bold;
}
a {
	text-decoration: none;
	color: rgb(80,80,80);
}
a:hover {
	color: rgb(120,120,120);
}
.card-white {
    background: white;
    padding: 10px;
    margin: 30px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 4px;"

}
.image-circle {
	border-radius: 50%;
}
.container {
	width: 700px;
	margin: 40px auto;
}
@media (max-width: 760px) {
	.container {
		width: 600px ;
	}
}
@media (max-width: 500px) {
	.container {
		width: 400px ;
	}
}
.icons {
	font-size: 40px;
}
#socials-icons {
	display:flex ;
	margin: 10px;
	justify-content: space-around ;
}
.banner {
  background-image: url('images/banner.JPG');
  background-size: cover;
  background-position: 50% 70% ;
  height: 300px;

