body {

	background-color: rgb(219 219 219);
	color: rgb(80,80,80);
	font-family: courier;
}
h1{
	color: rgb(0,0,0);
	font-family: Times;
	line-height: 1;
	font-weight: lighter;

}
h2{
	color: rgb(0,0,0);
	font-family: times;
	font-weight: bold;
}
a {
	text-decoration: none;
	color: rgb(0,0,0);
}
a:hover {
	color: rgb(80,80,80);
}
.card-white {
    background: white;
    padding: 10px;
    margin: 50px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;"

}
.image-circle {
	border-radius: 50%;
}
.container {
	width: 700px;
	margin: 40px auto;
}
@media (max-width: 760px) {
	.container {
		width: 600px ;
	}
}
@media (max-width: 500px) {
	.container {
		width: 400px ;
	}
}